<!DOCTYPE html>
<html>

<head>
    <title>MelodyLink</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">

</head>


<body>
    <div class="container">
        <div class="header">
            <h1 class="title">MelodyLink</h1>
            <a class="login-button" href="login.html">Вхід</a>
        </div>

        <div class="button-container">
            <div id="buttons" class="text-center mt-4 d-flex justify-content-center">
                <button id="musicians-button" class="btn btn-primary btn-ellipse">Музиканти</button>
                <button id="organizers-button" class="btn btn-primary btn-ellipse">Організатори</button>
            </div>
        </div>

        <div class="center-container">
            <div class="filter-city">
                <span class="filter-label">Місто:</span>
                <button class="filter-button" data-city="Київ">Київ</button>
                <button class="filter-button" data-city="Львів">Львів</button>
                <button class="filter-button" data-city="Харків">Харків</button>
                <button class="filter-button" data-city="Одеса">Одеса</button>
                <button class="filter-button" data-city="Дніпро">Дніпро</button>
                <button class="filter-button" data-city="Lviv">Lviv</button>
            </div>
            <div class="filter">
                <span class="filter-label">Жанри:</span>
                <div class="filter-genres">
                    <!-- Сюди будуть додаватися жанри з сервера -->
                </div>
            </div>
            <div class="filter">
                <span class="filter-label">Інструменти:</span>
                <div class="filter-instruments">
                    <!-- Сюди будуть додаватися жанри з сервера -->
                </div>
            </div>
        </div>

        <div id="musicians-list" class="mt-3">
            <!-- Сюди будуть додаватися музиканти з сервера -->
        </div>

        <div id="organizers-list" class="mt-3">
            <!-- Сюди будуть додаватися організатори з сервера -->
        </div>

    </div>

    <script src="/frontend-controllers/index_handler.js"></script>
</body>

</html>