<!DOCTYPE html>
<html>

<head>
    <title>Профіль</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <style>
        /* Додайте власні стилі CSS для сторінки профілю тут */
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="title">MelodyLink</h1>
            <a class="login-button">Редагувати профіль</a>
        </div>

        <div id="profile-container"></div>

        <script src="/frontend-controllers/profile_handler.js"></script>
    </div>
</body>

</html>