/* Загальні стилі */
.title {
  color: #eb1e1e;
  display: inline-block;
  vertical-align: middle; /* Вирівнювання по вертикалі */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Стилі для заголовків */
h1.title,
h2 {
  font-size: 24px;
  font-weight: bold;
}

/* Стилі для кнопок */
.button,
.btn-ellipse,
.login-button {
  display: inline-block;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.button {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn-ellipse {
  border-radius: 20px;
}

.button:hover,
.btn-ellipse:hover,
.login-button:hover {
  background-color: #555;
  color: #fff;
}

/* Стилі для форм */
.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Стилі для таблиць */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Стилі для сповіщень або повідомлень про помилки */
.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
}

/* Стилі для організаторів */
.organizer-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  text-align: center; /* Вирівнювання тексту по центру */
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 50%; /* Зміщення вліво на 20% */
  text-align: center; /* Змінюємо вирівнювання на центр */
}

.company {
  font-size: 14px;
  color: #888;
  margin-right: 50%; /* Зміщення вліво на 20% */
  text-align: center; /* Змінюємо вирівнювання на центр */
}

/* Стилі для кнопок організаторів і музикантів */
.button-container {
  display: flex;
  justify-content: center; /* Вирівнювання кнопок по центру */
  margin-top: 20px;
}

#buttons {
  display: flex;
  justify-content: center;
}
.login-button {
  background-color: #28a745;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  vertical-align: middle; /* Вирівнювання по вертикалі */
  margin-left: 10px; /* Доданий відступ від назви */
}

/* Стилі для музикантів */
.musician-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.musician-name {
  font-size: 18px;
  font-weight: bold;
}

.musician-genre {
  font-size: 14px;
  color: #888;
}

.musician-button {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.musician-button:hover {
  background-color: #777;
}
.header {
  display: flex;
  align-items: center;
}

.title {
  color: #eb1e1e;
  margin-right: auto; /* Розтягуємо на всю доступну ширину справа */
}

.login-button {
  background-color: #28a745;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  margin-left: 10px;
}

/* Стилі для написів на сторінці логіну */
.login-form label {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

/* Стилі для полів вводу на сторінці логіну */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 40%;
  padding: 8px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Стилі для кнопки "Увійти" на сторінці логіну */
.login-form button.login-button {
  background-color: #28a745;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  width: 20%;
  margin: 0 auto;
  display: block;
}
.create-account-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.create-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  text-align: center;
  margin-bottom: 1rem; /* Зменшено відстань до 1rem */
}

.form-label {
  font-weight: bold;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  margin-left: 0.5rem;
}

.create-account-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}
